<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
    <meta charset="UTF-8">
    <title>Angular App</title>
</head>

<body>
    <div class="container">
        <p><input type="number" ng-model="topNumber"></p>
        <p><input type="number" ng-model="bottomNumber">+</p>
        <hr>
        <p>{{topNumber + bottomNumber}}</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="app.js"></script>
</body>

</html>